<header>
			<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				<li><a href="/"><i class="fas fa-home"></i> Inicio </a></li>
				<li><a href="/login"><i class="fas fa-sign-in-alt"></i> Ingresa</a></li>
				<li><a href="/registro"><i class="fas fa-user-plus"></i> Registrate! </a></li>
			</ul>
			<ul class="header-links pull-right">
					<li><a href="/login"><i class="fas fa-user"></i> Solo admins</a></li>
			</ul>
	</div>
</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="./img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select">
										<option value="0">Todas las Categorias</option>
										<option value="1">Categoria 01</option>
										<option value="1">Categoria 02</option>
									</select>
									<input class="input" placeholder="Search here">
									<button class="search-btn">Buscar</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">Inicio</a></li>
							<li><a href="#">Todas las Categorias</a></li>
							<li><a href="#">Libros Nuevos</a></li>
							<li class="active">Tienda</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Categories</h3>
							<div class="checkbox-filter">
								<div class="input-checkbox">
									<input type="checkbox" id="category-1">
									<label for="category-1">
										<span></span>
										Ficcion
										<small>(5)</small>
									</label>
								</div>
								<div class="input-checkbox">
									<input type="checkbox" id="category-2">
									<label for="category-2">
										<span></span>
										Novelas
										<small>(6)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-3">
									<label for="category-3">
										<span></span>
										Policial
										<small>(1)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-4">
									<label for="category-4">
										<span></span>
										Bélico
										<small>(1)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-5">
									<label for="category-5">
										<span></span>
										Novela erótica
										<small>(5)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-6">
									<label for="category-6">
										<span></span>
										Misterio
										<small>(1)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-6">
									<label for="category-6">
										<span></span>
										Ciencia Ficcion
										<small>(1)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-6">
									<label for="category-6">
										<span></span>
										Epopeya
										<small>(1)</small>
									</label>
								</div>

								<div class="input-checkbox">
									<input type="checkbox" id="category-6">
									<label for="category-6">
										<span></span>
										Fabulas
										<small>(1)</small>
									</label>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Precio</h3>
							<div class="price-filter">
								<div id="price-slider"></div>
								<div class="input-number price-min">
									<input id="price-min" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
								<span>-</span>
								<div class="input-number price-max">
									<input id="price-max" type="number">
									<span class="qty-up">+</span>
									<span class="qty-down">-</span>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->

						<!-- aside Widget -->
						
						<div class="aside">
							
							<h3 class="aside-title">Top ventas</h3>
							<div class="product-widget">
								<div class="product-img">
									<img src="images/a71392fb-6aba-437c-b734-d1a229ee2638.jpeg" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Ficcion</p>
									<h3 class="product-name"><a href="#">El regreso del joven principe</a></h3>
									<h4 class="product-price">$2864.00 <del class="product-old-price">$3182.00</del></h4>
								</div>
							</div>
							<br>
							<br>
							<div class="product-widget">
								<div class="product-img">
									<img src="images/477efd92-9e24-447e-bc77-fa915a8d8d00.jpeg" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Policial</p>
									<h3 class="product-name"><a href="#">Crimen y Castigo</a></h3>
									<h4 class="product-price">$3750.00 <del class="product-old-price">$4167.00</del></h4>
								</div>
								
							</div>
							<br>
							<br>
							<div class="product-widget">
								<div class="product-img">
									<img src="images/855255de-8879-40be-9cf3-79981b22d566.jpeg" alt="">
								</div>
								<div class="product-body">
									<p class="product-category">Novela erótica</p>
									<h3 class="product-name"><a href="#">Cincuenta sombras de grey</a></h3>
									<h4 class="product-price">$999.00 <del class="product-old-price">$1500.00</del></h4>
								</div>
							</div>
						</div>
						<!-- /aside Widget -->
					</div>
					<!-- /ASIDE -->

					<!-- STORE -->
					<div id="store" class="col-md-9">
						<!-- store top filter -->
						<div class="store-filter clearfix">
							<div class="store-sort">
								<label>
									Mostrar por:
									<select class="input-select">
										<option value="0">Nuevos</option>
										
									</select>
								</label>

								<label>
									Mostrando
									<select class="input-select">
										<option value="0">Todos</option>
									</select>
								</label>
							</div>
						</div>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="conteiner">
							<div class="row">
								{{#each libros}}
							<!-- product -->
									<div class="col-md-4 col-xs-6">
										<div class="product">
											<div class="product-img">
												<img src="../images/{{uid}}" alt="no se encontro la imagen">
												<div class="product-label">
													<span class="new">Nuevo</span>
												</div>
											</div>
											<div class="product-body">
												<p class="product-category">{{categoria}}</p>
												<h3 class="product-name">{{nombre}}</h3>
												<h4 class="product-price">${{precio}}.00<del class="product-old-price">${{precio_original}}.00</del></h4>
												<div class="product-rating">
													<i class="fa fa-star">{{valoracion}}</i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fas fa-heart"></i><span class="tooltipp">Añadir a Favoritos</span></button>
													<button class="quick-view"><i class="fas fa-eye"></i><span class="tooltipp">Ya visto</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i><a href="tienda/single/{{id}}" style="text-decoration: none;">Comprar</a></button>
											</div>
										</div>
									</div>
								{{/each}}
							<!-- /product -->
						</div>
						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Mostrando Todos los libros</span>
							<ul class="store-pagination">
								<li class="active">1</li>												
								<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Regístrese para nuestras <strong>NOTICIAS</strong></p>
							<form>
								<input class="input" type="email" placeholder="Ingrese su Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="https://www.facebook.com/tomas.aaron" target="_blank"><i class="fab fa-facebook"></i></a>
								</li>
								<li>
									<a href="https://twitter.com/ThomasKiller27" target="_blank"><i class="fab fa-twitter"></i></a>
								</li>
								<li>
									<a href="https://www.instagram.com/thomi_el_tren20tk/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
								</li>
								<li>
									<a href="https://ar.pinterest.com/tomas_aaron/_saved/" target="_blank"><i class="fab fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre Mi</h3>
								<p>Soy Aaron Espindola, esta pagina es un proyecto para el trabajo de programacion, los objetos en esta pagina no estan en venta.</p>
								<ul class="footer-links">
									<li><a><i class="fa fa-map-marker"></i>calle falsa 123</a></li>
									<li><a><i class="fa fa-phone"></i>+54 11 9876-54321</a></li>
									<li><a><i class="fas fa-envelope"></i>aaronthxmas@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Algunas Categorias</h3>
								<ul class="footer-links">
									<li><a>Terror</a></li>
									<li><a>Romance</a></li>
									<li><a>Ficcion</a></li>
									<li><a>Sobre Natural</a></li>
									<li><a>Todos</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Informacion</h3>
								<ul class="footer-links">
									<li><a href="#">Sobre Mi</a></li>
									<li><a href="#">Contactame</a></li>
									<li><a href="#">Politica de privacidad</a></li>
									<li><a href="#">Terminos y condiciones</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Servicios</h3>
								<ul class="footer-links">
									<li><a href="#">Mi cuenta</a></li>
									<li><a href="#">Carrito</a></li>
									<li><a href="#">Lista de deseos</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a><i class="fab fa-cc-visa"></i></a></li>
								<li><a><i class="fa fa-credit-card"></i></a></li>
								<li><a><i class="fab fa-cc-paypal"></i></a></li>
								<li><a><i class="fab fa-cc-mastercard"></i></a></li>
								<li><a><i class="fab fa-cc-discover"></i></a></li>
								<li><a><i class="fab fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->